body {
    color:#32327c;
    font-size: 16px;
    background:#c3d617;
    background-size: cover;
    display: grid;
    grid-template-rows: 5rem;
    font-family: 'Antonio', sans-serif;
}
h1 {
    text-align: center;
}


.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    background:#ff6347;
    
}

.menu li {
    list-style: none;

}
.menu__item {    
    align-items: center;
    padding: 2rem;
    
}

a:hover, a:active {
    background-color: #6f20a3;
    color: #f5f5f5;
    padding: 1rem;
  }


  
.portfolio {
    text-align: center;
}

.o-me {
    word-wrap: inherit;     
    display: grid;
    padding-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    align-self: end;

}

.portfolio__item {
    padding: 1rem;
    display: grid;
    justify-self: center;
}

.portfolio__item--prvni {
    align-self: end;
}


.fotografie {
    display: grid;
    border: 1px solid #5353a8;   
    margin: 2rem; 
    padding: 2rem;
    height: 100vh;
    background-position: center center;
    grid-template-columns: 4rem;
    gap: 2rem;
    grid-template-areas:
        "head head side"
        "main main side"
        "foot foot foot"
    
    }

    
.fotografie__item {
    background-position: center;
    background-image: no-repeat;    
}

.fotografie__item--prvni {
    background-image: url('images/hyacint.jpg');
    grid-area: head;
}

.fotografie__item--druha {
    background-image: url('images/chrpa.jpg');
    grid-area: side;
}

.fotografie__item--treti {
    background-image: url('images/chrpa-detail.jpg'); 
    grid-area: main;
    background-size: cover;  
}

.fotografie__item--ctvrta {
    background-image: url('images/chrpa-louka.jpg');
    grid-area: foot;  
    background-size: cover;  
}

.kontakt {
    display: grid;
    text-align: center;    
}

.kontakt__social {
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
        
}

.kontakt__social--facebook {
    background-color: #222263;
    
}

.kontakt__social--linkedin {
    background-color: #5353a8;
    
}

@media (min-width: 800px) { 

.o-me {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(2, minmax(1rem, 1fr));
    grid-template-rows: 1fr 1fr;

}

}
